.cursor{
    position: fixed;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 0 10px aqua;
    border: 1px solid grey;
    top: 0;
    left: 0;
    border: 0.5 solid grey;
}